/* STYLE ZIRO */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300,400;500;600;700;800;900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input, textarea, button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("Myriad Pro Regular"), local("MyriadPro-Regular"), url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Body */
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 0.9375rem;
  box-sizing: content-box;
}

.page {
  flex: 1 1 auto;
}

.section {
  position: relative;
  z-index: 1;
  padding: 6.25rem 0;
}
@media (max-width: 992px) {
  .section {
    padding: 4rem 0;
  }
}
@media (max-width: 768px) {
  .section {
    padding: 2rem 0;
  }
}

.section__title-h1,
.section__title-h2,
.section__title-h3 {
  font-size: 3.37rem;
  font-weight: 800;
}

.section__title-h4,
.section__title-h6 {
  font-size: 2.5rem;
  font-weight: 800;
}

.section__title-h5 {
  font-size: 2.3rem;
  font-weight: 600;
}

.section__bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.section__bg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.burger {
  position: relative;
  z-index: 2;
  display: none;
  width: 2.5rem;
  height: 1.5rem;
  cursor: pointer;
  background-color: transparent;
}
@media (max-width: 992px) {
  .burger {
    display: block;
  }
}
@media (max-width: 575px) {
  .burger {
    display: block;
  }
}
.burger::before, .burger::after {
  content: "";
}
.burger span, .burger::before, .burger::after {
  display: block;
  width: 2.5rem;
  height: 3px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
}
.burger span {
  top: 50%;
  transform: translateY(-50%);
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}

.contact-form {
  padding: 6.25rem 0;
  background-color: #000;
}
@media (max-width: 992px) {
  .contact-form {
    padding: 4rem 0;
  }
}
@media (max-width: 768px) {
  .contact-form {
    padding: 2rem 0;
  }
}

.contact-form__title {
  margin-bottom: 3.125rem;
  font-size: 3.37rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .contact-form__title {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .contact-form__title {
    font-size: 1.8rem;
  }
}
@media (max-width: 575px) {
  .contact-form__title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

.contact-form__inner {
  display: flex;
  flex-wrap: wrap;
  margin: -0.93rem -1.87rem;
}
@media (max-width: 992px) {
  .contact-form__inner {
    margin: -0.93rem -1rem;
  }
}
@media (max-width: 768px) {
  .contact-form__inner {
    flex-direction: column;
    margin: 0;
  }
}
.contact-form__inner > * {
  width: 50%;
  padding: 0.93rem 1.87rem;
}
@media (max-width: 992px) {
  .contact-form__inner > * {
    padding: 0.93rem 1rem;
  }
}
@media (max-width: 768px) {
  .contact-form__inner > * {
    padding: 0;
    width: auto;
  }
  .contact-form__inner > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.contact-form__input {
  width: 100%;
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  background-color: #eaeaea;
}
.contact-form__input--area {
  min-height: 7.81rem;
  resize: vertical;
}
@media (max-width: 992px) {
  .contact-form__input--area {
    min-height: 6.6rem;
  }
}
.contact-form__input::placeholder {
  text-transform: uppercase;
  font-weight: 300;
}

.contact-from__wrap {
  display: flex;
  flex-direction: column;
}

.contact-form__text {
  color: #eaeaea;
  text-transform: uppercase;
  margin-bottom: 1.87rem;
}
@media (max-width: 992px) {
  .contact-form__text {
    margin-bottom: 1.35rem;
  }
}

.contact-form__submit {
  padding: 0.7rem 0;
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  background-color: #03899c;
  cursor: pointer;
  transition: background-color linear 0.2s;
}
.contact-form__submit:hover {
  background-color: #037383;
}
@media (max-width: 992px) {
  .contact-form__submit {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .contact-form__submit {
    font-size: 1.7rem;
  }
}

.tags {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.tags > *:not(:last-child) {
  margin-bottom: 1.87rem;
}
@media (max-width: 992px) {
  .tags > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.tags__row {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .tags__row {
    font-size: 0.8rem;
    align-items: normal;
    padding-left: 0.5rem;
    flex-direction: column;
  }
}

.tags__name {
  margin-right: 1.87rem;
  color: #03899c;
}
@media (max-width: 992px) {
  .tags__name {
    margin-right: 0;
  }
}

.tags__list {
  display: flex;
  flex-wrap: wrap;
}
.tags__list > *:not(:last-child) {
  margin-right: 1.5rem;
}
@media (max-width: 992px) {
  .tags__list > *:not(:last-child) {
    margin-right: 0;
  }
}
.tags__list a {
  transition: opacity linear 0.2s;
}
.tags__list a:hover {
  opacity: 0.8;
}
@media (max-width: 992px) {
  .tags__list a {
    margin-right: 0;
    padding: 0.3rem;
  }
}

.header {
  position: relative;
  z-index: 999;
  background-color: #000;
}

.header__inner {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
  padding: 3.75rem 0;
}
@media (max-width: 992px) {
  .header__inner {
    padding: 1rem 0;
  }
}

.header__photo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30%;
}
@media (max-width: 992px) {
  .header__photo {
    display: none;
  }
}
.header__photo img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 992px) {
  .header__wrap {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
}

.header__block {
  display: flex;
  align-items: center;
  margin-bottom: 3.125rem;
}
@media (max-width: 992px) {
  .header__block {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}
@media (max-width: 575px) {
  .header__block {
    margin-right: 0.5rem;
  }
}

@media (max-width: 575px) {
  .header__logo {
    margin-right: 0.7rem;
  }
}
.header__logo img {
  max-width: 100%;
}

.header__title {
  padding: 2rem 5.6rem;
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 900;
  background-color: #03899c;
}
@media (max-width: 1140px) {
  .header__title {
    padding: 1.5rem;
  }
}
@media (max-width: 992px) {
  .header__title {
    font-size: 1.5rem;
    padding: 1rem;
  }
}
@media (max-width: 768px) {
  .header__title {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

@media (max-width: 992px) {
  .header__tags {
    display: none;
  }
}

.menu {
  display: flex;
  align-items: center;
  font-size: 0.87rem;
  margin-bottom: 3.125rem;
}
@media (max-width: 992px) {
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding: 5rem 0 1rem;
    flex-direction: column;
    align-items: normal;
    margin-bottom: 0;
    font-size: 1rem;
    background-color: #1f1f1f;
    transform: translateX(-100%);
    transition: transform linear 0.3s;
  }
  .menu.open {
    transform: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  margin-right: 3.125rem;
}
.menu__list > *:not(:last-child) {
  margin-right: 3.125rem;
}
@media (max-width: 992px) {
  .menu__list {
    align-items: normal;
    flex-direction: column;
    margin-right: 0;
  }
}
@media (max-width: 992px) {
  .menu__list li {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.menu__list li a {
  display: block;
  color: #03899c;
  text-transform: uppercase;
  transition: color linear 0.2s;
}
.menu__list li a:hover {
  color: #fff;
}
@media (max-width: 992px) {
  .menu__list li a {
    width: 100%;
    padding: 1rem 1.5rem;
  }
}

.contacts {
  display: flex;
  align-items: center;
}
.contacts > *:not(:last-child) {
  margin-right: 3.125rem;
}
@media (max-width: 992px) {
  .contacts {
    align-items: normal;
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 992px) {
  .contacts li {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.contacts li a {
  display: block;
  color: #fff;
  transition: color linear 0.2s;
}
.contacts li a:hover {
  color: #03899c;
}
@media (max-width: 992px) {
  .contacts li a {
    width: 100%;
    padding: 1rem 1.5rem;
  }
}

.menu__tags {
  display: none;
}
@media (max-width: 992px) {
  .menu__tags {
    display: block;
  }
}

.portfolio__inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  grid-auto-rows: 10px;
  justify-content: center;
}

.portfolio__col {
  position: relative;
  margin: 0.15rem;
  overflow: hidden;
}
.portfolio__col--small {
  grid-row-end: span 26;
}
.portfolio__col--medium {
  grid-row-end: span 33;
}
.portfolio__col--large {
  grid-row-end: span 45;
}

.portfolio__thumb {
  position: relative;
  height: 100%;
  width: 100%;
}
.portfolio__thumb img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.portfolio__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity linear 0.2s;
}
.portfolio__wrap:hover {
  opacity: 1;
}

.portfolio__title {
  margin-bottom: 0.5rem;
  font-weight: 800;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.copyright {
  padding: 2rem 0;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  background-color: #292b32;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}